/* /////////////////// BASICS //////////////////// */
html {
  height: 100vh;
  font-family: system-ui;
}

body {
  padding: 0;
  margin: 0;
  background-color: #191970;
}

/* //////////////////// TEXT /////////////////////// */
h1 {
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}

#centerH1 {
  margin-top: 25%;
}

/* ////////////////////// BUTTONS ////////////////////// */

#buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1%;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f5f6fa;
  color: black;
}

.next {
  background-color: #f5f6fa;
  color: black;
}

.round {
  border-radius: 50%;
}

/* //////////////////////////// BAR CHART //////////////////////////////// */
svg {
  margin-left: 2%;
}

.axis {
  font: 13px sans-serif;
  color: #ffffff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}